*, *:before, *:after {
  box-sizing: border-box;
}

h1, h2, h3, h4 {
	color: #404040
}

h1 {
	font: 60px bold;
	font-family: 'Lobster', cursive;
	text-align: right;
	margin: 20px 0;
}

h3, h4{
	text-transform: uppercase;
}

img {
	max-width: 100%;
}

.container {
	width:100%;
	display:flex;
}

.content {
	flex-wrap: wrap;	
}

.header,
.nav {
	justify-content: space-between;
}

.logo {
	max-width: 150px;
	max-height: 150px;
	margin: 10px;
	color:red;
}

.nav {
	flex-direction: row;
}

.header {
	padding-bottom: 10px;
	border-bottom: solid #9cf;
}

.banner {
	padding: 20px 0;
}

.link {
	word-break: break-all;
	font: 16px serif;
	color: grey;
}

.nav-item {
	text-decoration: none;
	width:30%;
}
.nav-img {
	width:100%;
}

.secondary-text {
	color: lightgrey;
	text-align: right;
}

@media screen and (min-width: 960px) {
	.container {
		width: 960px;
		margin: auto;
	}
	.banner,
	.feature {
		width:100%;
	}
}

@media screen and (max-width: 620px){
	.nav {
		flex-direction: column;
	}
	.nav-item {
		width: 100%;
		display: flex;
		align-items: stretch;
	}
	.nav-img {
		width: 30%;
		padding: 10px 0;
	}

	.nav-info {
		width:60%;
		padding-left:10%;
	}

	.logo {
		width: 120px;
		height: 120px;
		margin: 0;
	}

	h1 {
		font-size: 40px;
	}
}

@media screen and (max-width: 420px){
	.logo {
		width: 90px;
		height: 90px;
		margin: 0;
	}

	h1 {
		font-size: 30px;
	}
	h4 {
		margin: 5px 0;
	}
	h3 {
		font-size: 16px;
	}
}